public/assets/components/
public/assets/dist/
public/tts/
public/dist/
public/assets/vendor/
monitor.conf
node_modules/
.opencloset.json
run
*.db
.cookie.txt

# editor swap files
*.swp

# hypnotoad pid file
hypnotoad.pid

# log directory
log/

# statistics directory
statistics/

# minion db
minion.*

.text_haml_cache/
