- use utf8;
- use OpenCloset::Monitor::Status;
- my $prev_order = prev_order($n, $OpenCloset::Monitor::Status::STATUS_SELECT);
.well.room.empty{:id => "room-#{$n}"}
  %h3= "#$n"
  - if ($prev_order) {
    %p= $prev_order->user->name
  - } else {
    - if ($refresh_active->{$n}) {
      %p.p-refresh
        %br
        %i.fa.fa-refresh.fa-2x
    - }
  - }
