- use utf8;
- layout 'statistics',
- jses => [
-   '/assets/components/d3/d3.min.js',
-   '/assets/components/nvd3/nv.d3.min.js',
-   '/assets/js/dashboard.js'
- ],
- csses => ['/assets/components/nvd3/nv.d3.min.css'];
- title 'elapsed time · Statistics';

%h1 elapsed time
#elapsed-chart.chart.visits-chart
  %h4 male
  %div.well
    %svg.male
  %h4 female
  %div.well
    %svg.female
