- use utf8;
- layout 'statistics', jses => ['elapsed.js'], csses => ['elapsed.css'];
- title 'elapsed time · Statistics';

%h1 elapsed time
.row
  .col-md-2
    .datepicker
  .col-md-3.col-md-offset-1
    %h4.male
      male
      %small
    .well
      %svg.male.daily
  .col-md-3.col-md-offset-1
    %h4.female
      female
      %small
    .well
      %svg.female.daily
.row
  .col-md-10.col-md-offset-1.well
    %svg.total
