- use utf8;
- layout 'default', jses => ['/assets/components/jquery-timeago/jquery.timeago.js', '/assets/components/jquery-timeago/locales/jquery.timeago.ko.js', '/assets/js/index.js'];
- title 'Dashboard';
- my %STATUS_MAP = (
-   16 => 'mesure', 
-   19 => 'payment', 
-   20 => 'fitting', 21 => 'fitting', 22 => 'fitting', 23 => 'fitting', 24 => 'fitting', 
-   25 => 'fitting', 26 => 'fitting', 27 => 'fitting', 28 => 'fitting', 29 => 'fitting', 
- );

.row
  .col-md-6
    #dashboard
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th 대기중
            %th 치수측정
            %th 의류준비
            %th 탈의
            %th 수선
            %th 포장
            %th 결제대기
        %tbody
          %tr
          - for my $s (@$orders) {
            %td.text-left
              - for my $order (@$s) {
                %p
                  = $order->user->name
                  %abbr.timeago{:title => '#{$order->update_date->ymd}T#{$order->update_date->hms}Z'}= $order->update_date
              - }
          - }
  .col-md-6
    #event
      - if (@$events) {
        %audio{:src => "/assets/audio/whisper.ogg", :autoplay => ''}
          %p Your browser does not support the audio element.
      - }
      %ul.list-group
        - for my $event (@$events) {
          - my ($order, $status) = ($event->{order}, $event->{status});
          - my $template = $STATUS_MAP{$order->status_id};
          - if ($template) {
            %li.list-group-item= include "partials/event/$template", order => $order, from => $status->{from}, to => $status->{to};
          - }
        - }
