- use utf8;
- layout 'default', jses => ['/assets/js/index.js', '/assets/components/jquery-timeago/jquery.timeago.js', '/assets/components/jquery-timeago/locales/jquery.timeago.ko.js'];
- title 'Dashboard';
- my %STATUS_MAP = (6 => 'repair', 13 => 'visit', 16 => 'mesure', 17 => 'select', 18 => 'undress', 19 => 'boxing', 20 => 'payment');

#dashboard
  %ul.list-group
  - while (my $order = $orders->next) {
    - my $template = "partials/status/$STATUS_MAP{$order->status_id}";
    %li.list-group-item= include $template, order => $order;
  - }

%hr

#event
  - if (@$events) {
    %audio{:src => "/assets/audio/whisper.ogg", :autoplay => ''}
      %p Your browser does not support the audio element.
  - }
  %ul.list-group
    - for my $event (@$events) {
      - my ($order, $status) = ($event->{order}, $event->{status});
      - my $template = "partials/event/$STATUS_MAP{$order->status_id}";
      %li.list-group-item= include $template, order => $order, from => $status->{from}, to => $status->{to};
    - }
