- use utf8;
- layout 'default', jses => ['/assets/components/jquery-timeago/jquery.timeago.js', '/assets/components/jquery-timeago/locales/jquery.timeago.ko.js', '/assets/js/select.js'];
- title '의류준비';
%ul#select
  - while (my $order = $orders->next) {
    %li.text-left= include 'partials/select', order => $order;
  - }
