- use utf8;
- layout 'default', jses => ['select.js'];
- title '의류준비';
#select
  - while (my $order = $orders->next) {
    - if (grep { $order->id == $_ } @$active) {
      .row.select.active{:data-order-id => '#{$order->id}'}= include 'partials/select', order => $order;
    - } else {
      .row.select{:data-order-id => '#{$order->id}'}= include 'partials/select', order => $order;
    - }
  - }
