@import '~bulma/bulma';

.tile-hide {
    visibility: hidden;
}
.tile-bottom .is-child.box {
    min-height: 130px;
}
.box-content {
    min-height: 800px;
}
article.message.is-large {
    font-size: 2rem;
}
