@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

html, body {
    font-family: 'Nanum Myeongjo', serif;
}
#content {
    margin-top: 1em;
}
#dashboard {
    font-size: 1.6em;
    th {
        font-size: 1.2em;
        text-align: center;
        width: 14.5%;
    }
    tbody {
        height: 500px;
    }
    abbr {
        font-size: 0.5em;
        display: none;
    }
    p .label {
        font-size: 1.2em;
        display: inline-block;
        width: 100%;
    }
    span.date {
        display: block;
        font-size: 0.6em;
        color: lighten(#333, 20%);
        margin-top: 5px;
        margin-bottom: -5px;
    }
}
.list-group-item {
    background-color: #333;
}
#event {
    font-size: 1.2em;
    h1 {
        font-weight: bold;
    }
    small {
        font-size: 1em;
        color: #fff;
    }
}
#fitting-room {
    .active .room {
        border-color: purple !important;
    }
    .room {
        font-size: 2em;
        background-color: #000;
        min-height: 500px;
        border-width: 0.3em;
        padding: 0;
        cursor: pointer;
        h3 {
            margin-top: 10px;
        }
        ul {
            margin-left: 0;
            margin-bottom: 5px;
            padding-left: 0;
            list-style-type: none;
            li {
                display: inline;
            }
        }
        .clothes {
            li:after {
                content: ", ";
            }
            li:last-child:after {
                content: "";
            }
        }
        .booking-date {
            font-size: 0.6em;
            margin-bottom: 0;
        }
        p.timeago {
            font-size: 0.6em;
        }
        .previous {
            text-align: left;
            position: absolute;
            top: 20px;
            left: 30px;
            font-size: 0.7em;
            color: darken(#fff, 80%);
        }
    }
    .room.male {
        .fa {
            color: #5555ee;
        }
        border-color: #5555ee;
    }
    .room.female {
        .fa {
            color: #ee3333;
        }
        border-color: #ee3333;
    }
    .purpose, .color {
        font-size: 0.6em;
    }
    .purpose {
        margin-top: 1em;
        > p:first-child {
            margin-bottom: 5px;
        }
    }
    .clothes {
        font-size: 0.5em;
    }
    .color {
        .label.black { background-color: lighten(black, 25%) }
        .label.navy  { background-color: navy }
        .label.gray  { background-color: gray }
        .label.brown { background-color: #8b4513 }
        .label.etc   { background-color: darken(yellow, 20%) }
        .label.staff { background-color: orange }
        .label.dark  { background-color: lighten(#000, 15%) }
        .label.charcoalgray { background-color: #666 }
    }
    .comment {
        font-size: 0.5em;
        color: darken(#fff, 30%);
    }
}
#select {
    text-align: left;
    .select {
        border: 1px solid darken(#fff, 50%);
        padding: 0.5em 0.5em 0 0.5em;
        margin: 0.5em;
        cursor: pointer;
        &.active {
            border-width: 2px;
            border-color: #fff;
            h1 {
                font-weight: bold;
            }
        }
        .profile {
            h1 { font-size: 2em }
            h2 { font-size: 1.8em }
            text-align: center;
            .fa-male {
                color: #5555ee;
            }
            .fa-female {
                color: #ee3333;
            }
        }
        .size {
            font-size: 2em;
            list-style-type: none;
            li {
                display: inline;
                span {
                    width: 30%;
                    display: inline-block;
                }
            }
        }
        .color {
            font-size: 2em;
            list-style-type: none;
            padding-left: 0;
            width: 100%;
            li {
                margin-bottom: 10px;
                span {
                    display: inline-block;
                    width:100%;
                }
            }
            .label.black { background-color: #000 }
            .label.navy  { background-color: navy }
            .label.gray  { background-color: gray }
            .label.brown { background-color: #8b4513 }
            .label.etc   { background-color: darken(yellow, 20%) }
            .label.staff { background-color: orange }
            .label.dark  { background-color: lighten(#000, 15%) }
            .label.charcoalgray { background-color: #666 }
        }
        .clothes {
            font-size: 1.5em;
            list-style-type: none;
            padding-left: 0;
            li {
                display: inline;
            }
            li:after {
                content: ", ";
            }
            li:last-child:after {
                content: "";
            }
        }
        .purpose {
            font-size: 1.5em;
            p {
                display: inline;
            }
        }
        .comment {
            color: darken(#fff, 30%);
        }
        .pre_order {
            .label {
                font-family: monospace;
            }
        }
        .previous {
            text-align: left;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }
}
